<div *ngIf="match">
    <div class="text-xl">
        {{ match.rounds[0].teams[0].team_stats.Team }} vs. {{ match.rounds[0].teams[1].team_stats.Team }}
    </div>
    <div>
        <table class="table-auto" *ngFor="let team of match.rounds[0].teams">
            <thead>
                <tr>
                    <th class="px-4 py-2">Player</th>
                    <th class="px-4 py-2">Kills</th>
                    <th class="px-4 py-2">Assists</th>
                    <th class="px-4 py-2">Deaths</th>
                    <th class="px-4 py-2">K/D</th>
                    <th class="px-4 py-2">Headshot %</th>
                    <th class="px-4 py-2">MVPs</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of team.players">
                    <td class="border px-4 py-2">
                        <a href="https://www.faceit.com/en/players/{{player.nickname}}">{{ player.nickname }}</a>
                    </td>
                    <td class="border px-4 py-2">{{ player.player_stats.Kills }}</td>
                    <td class="border px-4 py-2">{{ player.player_stats.Assists }}</td>
                    <td class="border px-4 py-2">{{ player.player_stats.Deaths }}</td>
                    <td class="border px-4 py-2">{{ player.player_stats["K/D Ratio"] }}</td>
                    <td class="border px-4 py-2">{{ player.player_stats["Headshots %"] }}</td>
                    <td class="border px-4 py-2">{{ player.player_stats.MVPs }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>