<div>Two homies that enjoys playing CS:GO and trying to gain more experience coding. Feel free to use it for yourself.</div>
<div>Our FaceIt profile:
<ul class="list-disc">
    <li><a href="https://www.faceit.com/en/players/jeFFeH" target="_blank" rel="noopener noreferrer" class="no-underline hover:underline text-blue-500 text-lg" >jeFFeH</a></li>
    <li><a href="https://www.faceit.com/en/players/merc-" target="_blank" rel="noopener noreferrer" class="no-underline hover:underline text-blue-500 text-lg" >merc-</a></li>
</ul>