<div class="font-mono pl-6 pt-4">
<div class="about">About Us</div>
<div class="font-mono">Two homies that enjoys playing CS:GO and trying to gain more experience coding. Feel free to use
    it for yourself.</div>
<div class="font-mono">Our FaceIt profile:
    <ul class="list-disc pl-6">
        <li class=""><a href="https://www.faceit.com/en/players/jeFFeH" target="_blank" rel="noopener noreferrer"
                class="no-underline hover:underline text-blue-500 text-lg rounded-full">jeFFeH</a></li>
        <li><a href="https://www.faceit.com/en/players/merc-" target="_blank" rel="noopener noreferrer"
                class="no-underline hover:underline text-blue-500 text-lg rounded-full">merc-</a></li>
    </ul>
    <div>
        <a href="https://github.com/jeffeh/csgo-fit" target="_blank" rel="noopener noreferrer"
            class="no-underline hover:underline text-blue-500 text-lg">Code source - Github</a>
    </div>
</div>
</div>