<div>
    <div *ngIf="playerData">
        Current Level: {{ playerData.games.csgo.skill_level }}
        <br />
        Elo: {{ playerData.games.csgo.faceit_elo }}
        <br />
        Country: {{ playerData.country }}
        <br />
    </div>
    <div *ngIf="matchHistory">
        <li *ngFor="let item of matchHistory.items" class="no-underline hover:underline text-blue-500 text-lg rounded-full">
            <a routerLink="match/{{item.match_id}}">{{ item.teams.faction1.nickname }} vs. {{ item.teams.faction2.nickname }}</a>
        </li>
    </div>
</div>