<div>
    <div *ngIf="playerData">
        <div class="text-xl">
            Current Level: {{ playerData.games.csgo.skill_level }}
        </div>
        <div>
            Elo: {{ playerData.games.csgo.faceit_elo }}
        </div>
        <div>
            Country: {{ playerData.country }}
        </div>
    </div>
    <div *ngIf="matchHistory">
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">
                        Match History
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of matchHistory.items">
                    <td class="border px-4 py-2">
                        <a routerLink="match/{{item.match_id}}">{{ item.teams.faction1.nickname }} vs. {{ item.teams.faction2.nickname }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>